# Lesson 8

In [30]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv('./Auto-cleaned.csv')
print(df.shape)
df.head(3)

(392, 10)

,Unnamed: 0,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite

In [32]:
df=df.drop(df.columns[0], axis=1)
df.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite

In [33]:
df.shape

(392, 9)

In [15]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
year              int64
origin            int64
name             object
dtype: object

In [4]:
(df_train,df_test) = train_test_split(df,train_size=0.8,test_size=0.2,shuffle=True,random_state=0)

In [22]:
feature_train = df_train.iloc[:,1:-2]
feature_test = df_test.iloc[:,1:-2]
target_train  = df_train.iloc[:,0]
target_test   = df_test.iloc[:,0]

In [23]:
feature_train

     cylinders  displacement  horsepower  weight  acceleration  year
218          4          85.0        70.0    1945          16.8    77
254          6         225.0       100.0    3430          17.2    78
299          4         105.0        70.0    2200          13.2    79
191          6         200.0        81.0    3012          17.6    76
56           4         113.0        95.0    2278          15.5    72
..         ...           ...         ...     ...           ...   ...
323          4          90.0        48.0    2085          21.7    80
192          6         232.0        90.0    3085          17.6    76
117          4         116.0        75.0    2158          15.5    73
47           6         250.0        88.0    3139          14.5    71
172          6         171.0        97.0    2984          14.5    75

[313 rows x 6 columns]

In [24]:
lr = LinearRegression()

feature_name = []
R2_train     = []
R2_test      = []

for k in range(df.shape[1]-1):
    feature_train = df_train.iloc[:,k+1]
    feature_test = df_test.iloc[:,k]
    lr.fit(feature_train,target_train)
    feature_name.append(df.columns[k])
    R2_train.append(lr.score(feature_train,target_train))
    R2_test.append(lr.score(feature_test,target_test))
    
results = pd.DataFrame()
results['feature']  = feature_name
results['train R2'] = R2_train
results['test R2']  = R2_test
results.sort_values('test R2',ascending=False).round(2)

ValueError: Expected 2D array, got 1D array instead:
array=[33.5 20.5 34.2 24.  24.  14.  23.9 24.  32.9 31.8 21.5 25.5 15.  21.5
 19.  38.  23.  35.1 23.  31.  39.4 12.  25.  24.  26.5 34.7 28.8 28.
 18.2 44.  14.  15.5 36.  25.5 19.2 26.  25.  27.  17.5 31.  17.  26.
 32.3 11.  20.5 13.  15.  26.  33.5 39.  32.2 21.  15.  23.  28.  15.
 26.4 12.  24.2 15.5 23.  29.  27.  15.  29.  21.  27.4 14.  23.2 15.
 15.  35.7 16.2 18.  16.  37.  17.  18.5 16.  14.  19.9 25.  17.  22.
 30.  25.4 21.  19.  36.  19.2 20.2 13.  14.  36.  20.2 33.  27.  20.6
 32.4 30.  29.8 37.7 11.  18.  37.  16.  18.  24.  13.  14.  17.  22.
 21.1 20.3 17.5 19.  18.1 20.2 21.  17.7 18.  19.  32.  13.  19.  23.
 23.9 36.4 14.  27.  21.5 22.  26.  30.5 15.  14.  23.7 13.  38.  32.7
 15.  13.  18.  27.  22.  32.  20.  30.5 14.5 19.  27.  18.  31.  14.
 15.  18.  17.5 18.  22.  46.6 20.  27.2 29.  30.  36.  17.  18.  24.
 13.  33.5 13.  24.3 19.4 24.5 16.  31.  37.3 26.  18.5 34.5 16.  32.1
 19.  21.  27.  25.4 31.  32.  25.  29.9 28.  18.6 14.  27.2 13.  27.2
 18.  36.  23.  12.  23.8 30.  16.5 28.  37.2 43.4 11.  15.  14.  23.
 25.  15.5 26.  13.  18.  29.5 35.  18.  38.  25.  20.6 12.  17.6 13.
 37.  24.  13.  26.8 23.  19.  19.8 16.  26.  32.  28.  16.  33.  28.
 18.1 28.  13.  24.  36.  22.4 13.  28.  30.9 19.  31.9 25.  27.9 20.8
 34.4 13.  12.  17.  34.1 14.  35.  39.1 26.  18.5  9.  26.  20.  18.
 32.8 32.  25.  19.  31.  17.5 34.  15.5 28.1 24.  16.5 28.  22.  18.
 30.  26.6 20.  36.1 16.  27.5 13.  32.4 10.  29.  23.5 34.  19.  32.
 14.  29.  19.1 15.  19.  14.  34.1 43.1 29.5 13.  15.  26.6 29.  20.5
 44.3 22.5 24.  18.  18. ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.